<ion-view view-title="{{devotions[0].date | dateMonth}}" class="verse">
  
  <ion-content>
    <ion-list class="picture-list devotion">
      <ion-item ng-repeat="devotion in devotions" href="#/app/verse/{{devotion.id}}" style="background: url({{devotion.custom_fields['3colmediaSplashImg_value'][0]}}) no-repeat; background-size: cover; background-position: center">
        <div class="fader">
          {{devotion.title}}
          <!-- {{moments(devotion.date).format('YYYY MMM D')}} -->
          <div time number="devotion.date" format="'MMMM D YYYY'" class="time">
            
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="!finish"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
