<ion-view view-title="Peta Kabut Asap">
  <ion-content scroll="false">
    <div data-tap-disabled="true">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" >
        <ui-gmap-marker 
            ng-repeat="detector in detectors" 
            coords="detector.coords" 
            idkey="detector.id" 
            options="detector.options"
            icon="'img/weather-' + detector.severityLevel + '.png'">
              <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                <div>
                  <p><b>Level Kabut Asap:</b> {{detector.data.latestValue}}</p>
                  <p><b>Waktu Deteksi Terakhir:</b> {{detector.data.latestDate}}</p>
                </div>
              </ui-gmap-window>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </ion-content>
</ion-view>
