<ion-view view-title="About Verse in Focus" class="verse">
  
  <ion-content>
    <div class="item-wrap">
        <img src="img/splash.png" alt="" class="full-image">
    </div>
    <div class="caption">
        Verse In Focus
    </div>
    <div class="description">
        <div class="body">
            <p>Verse in Focus was a project that started by Jad Limcaco and Nathan Winn. The goal was to encourage believers and spread God’s Word by daily posting a beautiful design and a thought focused around a Bible verse. They started off the project by spreading the word on Instagram. Once we received enough followers, the plan was to launch an iPhone app that would have daily devotions and wallpapers available for download.</p>
            <p>Then, Sonny Lazuardi comes to make an android app. For now, the data was taken from http://warungsatekamu.org/ and targeted for Indonesia first.</p>

        </div>
    </div>
    
  </ion-content>
</ion-view>

<!-- <div class="bar bar-footer bar-red">
    <div class="row">
        <div class="col">
            <button class="button button-full button-energized">
              Download
            </button>    
        </div>
        <div class="col">
            <button class="button button-full button-energized">
              Share
            </button>
        </div>
    </div>
</div>
 -->