<ion-view view-title="Help Map" class="verse">
  
  <ion-content>
    <div class="item-wrap">
        <img src="img/splash.png" alt="" class="full-image">
    </div>
    <div class="caption">
        Help Map
    </div>
    <div class="description">
        <div class="body">
            Test
        </div>
    </div>
    
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" >
	</ui-gmap-google-map>

  </ion-content>
</ion-view>

<!-- <div class="bar bar-footer bar-red">
    <div class="row">
        <div class="col">
            <button class="button button-full button-energized">
              Download
            </button>    
        </div>
        <div class="col">
            <button class="button button-full button-energized">
              Share
            </button>
        </div>
    </div>
</div>
 -->