<ion-view view-title="Archives">

  <ion-content>
    <div class="list year">

    <div class="item item-input-inset">
      <label style="margin-right: 10px">
        Harga di
      </label>
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" value="Bandung, Indonesia">
      </label>
    </div>

    </div>
    <ion-list class="picture-list">
      <ion-item ng-repeat="commodity in commodities" href="#/app/commodity/{{commodity.name}}" style="background: url(img/{{commodity.picture}}) no-repeat; background-size: cover; background-position: center">
        <div class="fader">
          <div class="commodity">
            <div class="commodity-name">{{commodity.name}}</div>
            <div class="commodity-price">
              Rp {{commodity.price}}
              <span>/{{commodity.unit}} 
              </span>
              <i ng-class="['icon', 'ion-android-arrow-drop'+commodity.direction+'-circle', 'arrow-'+commodity.direction]"></i>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <button class="round-overlay-button bottom-right assertive button button-icon light" ng-click="popover.show($event)">
    <i class='icon ion-paper-airplane'>
    </i>
  </button>
</ion-view>
