<ion-view view-title="Add Saving">
  <ion-content>
    <div class="form-add-container">
      <div class="head-lapor">
        <img class="head-background " ng-src="{{data.picture}}">
          <div class="overlay-white">
          </div>
          <button class="button icon-button camera-button" ng-click="test.takePhoto()">
            <span class="ion-ios-camera-outline">
            </span>
          </button>
        </img>
      </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Nama Komoditi</span>
          <input ng-model="data.title" type="text" placeholder="Masukkan komoditi">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Harga per satuan Kg</span>
          <input ng-model="data.price" type="number" placeholder="Masukkan harga">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Jumlah stok</span>
          <input ng-model="data.stock" type="number" placeholder="Masukkan stok sesuai satuan">
        </label>
      </div>
      <button class="secret-button" ng-click="test.sms()">secret</buttton>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-energized bar-point bar bar-footer">
    <!-- <h1 class="title">Subscribe Now</h1> -->
    <a ng-click="test.submit()" class="button button-full button-energized button-footer" target="_blank">
      Kirim
    </a>
  </ion-footer-bar>
</ion-view>
