<ion-view>
  <ion-header-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="back()"></button>
    </div>
    <h1 class="title">Lapor Korban</h1>
  </ion-header-bar>
  <ion-content>
    <div class="form-add-container">
      <div class="head-lapor">
        <img class="head-background " ng-src="{{picture}}">
          <div class="overlay-white">
          </div>
          <button class="button icon-button camera-button" ng-click="takePhoto()">
            <span class="ion-ios-camera-outline">
            </span>
          </button>
        </img>
      </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Nama</span>
          <input ng-model="data.name" type="text" placeholder="Masukkan Nama">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Umur</span>
          <input ng-model="data.age" type="number" placeholder="Masukkan Umur">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Status
          </div>
          <select ng-model="data.status">
            <option>Gejala</option>
            <option selected>Parah</option>
            <option>Kritis</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Lokasi</span>
          <input ng-model="data.latitude" type="text" placeholder="Masukkan Latitude">
          <input ng-model="data.longitude" type="text" placeholder="Masukkan Longitude">
        </label>
      </div>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="small-map">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
      <div class="list">
        <div class="item item-divider">
          Kebutuhan
        </div>
        <label class="item item-input item-select">
          <span class='input-label'>Kebutuhan</span>
          <select ng-model="data.need_id">
            <option ng-repeat="need in needs" value="{{need.id}}">{{need.name}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Jumlah</span>
          <input ng-model="data.quantity" type="number" placeholder="Masukkan Jumlah Kebutuhan">
        </label>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable bar-point bar bar-footer">
    <a ng-click="submit()" class="button button-full button-block button-text-white button-footer" target="_blank">
      Kirim
    </a>
  </ion-footer-bar>
</ion-view>
