<ion-view view-title="Add Saving">
  <ion-content class='content-fullscreen' scroll="false">
    <div class="form-add-container">
      <div class="head-lapor">
        <img class="head-background " ng-src="{{data.picture}}">
          <div class="overlay-white">
          </div>
          <button class="button icon-button camera-button" ng-click="takePhoto()">
            <span class="ion-ios-camera-outline">
            </span>
          </button>
        </img>
      </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Nama Pasar</span>
          <input ng-model="data.title" type="text" placeholder="Masukkan komoditi">
        </label>
      </div>
    </div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" >
      <ui-gmap-marker ng-repeat="market in markets" coords="market.coords" idkey="market.id" options="market.options"></ui-gmap-marker>
		</ui-gmap-google-map>
  </ion-content>
  <ion-footer-bar class="bar-energized bar-point bar bar-footer">
    <!-- <h1 class="title">Subscribe Now</h1> -->
    <a ng-click="test.submit()" class="button button-full button-energized button-footer" target="_blank">
      Simpan
    </a>
  </ion-footer-bar>
</ion-view>
