<ion-view view-title="Login" hide-nav-bar="true" cache-view="false">
  <ion-content has-header="false" class="full-picture">
    <div class="login padding">
      <div class="logo-pazar">
        <img src="img/logo-big.png" alt="">
      </div>
      <div class="row login-button">
        <div class="col">
          <button class="button button-block button-custom button-modern button-facebook" ng-click="facebook()">
            <i class="ion ion-social-facebook"></i> Login Facebook
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-custom button-modern button-google" ng-click="google()">
            <i class="ion ion-social-google"></i> Login Google +
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
