<ion-view view-title="Pasar Kawali">
  <ion-content>
    <ion-list class="picture-list">
      <ion-item style="background: url('img/pasar-tradisional-bantul.jpg') no-repeat; background-size: cover; background-position: center">
        <div class="fader">
          <div class="commodity">
            <div class="commodity-price">
              Pasar Tradisional Manggarai
            </div>
            <div class="commodity-name">
              Jl. Tendean No. 3, Bandung, Indonesia
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="list">
      <div class="card">
        <div class="item">
          <h2>Beras Oriental</h2>
        </div>
        <div class="item item-image">
          <img src="img/beras.jpg">
        </div>
        <a class="item assertive" href="#">
          Rp 25.000,-/Kg
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
