<ion-view view-title="Pasar">
  <ion-content class='content-fullscreen' scroll="false">
    <div class="list search-top">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" ng-click="test.forceToMarket()">
          <input type="text" placeholder="Masukkan lokasi">
           <i class="icon ion-ios-search placeholder-icon"></i>
        </label>
      </div>
    </div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" >
      <ui-gmap-marker ng-repeat="market in markets" coords="market.coords" idkey="market.id" options="market.options"></ui-gmap-marker>
		</ui-gmap-google-map>
  </ion-content>
</ion-view>
