<ion-view view-title="Pasar Kawali">
  <ion-content>
    <div class="verified-market">
      <h4>Produsen Terverifikasi <i class="icon ion-checkmark-circled pull-right"></i></h4>
      <h3>Sonny Lazuardi</h3>
      <p>Petani</p>
      <p>Jl. Tendean No. 3, Bandung, Indonesia</p>
      <p>6285722201351</p>
    </div>
    <div class="list">
      <div class="card">
        <div class="item">
          <h2>Beras Oriental</h2>
        </div>
        <div class="item item-image">
          <img src="img/beras.jpg">
        </div>
        <a class="item assertive" href="#">
          Rp 25.000,-/Kg
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
