<ion-view>
  <ion-header-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="back()"></button>
    </div>
    <h1 class="title">Daftarkan Organisasi</h1>
  </ion-header-bar>
  <ion-content>
    <div class="form-add-container">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Nama</span>
          <input ng-model="data.name" type="text" placeholder="Masukkan Nama Organisasi">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Deskripsi</span>
          <input ng-model="data.description" type="text" placeholder="Masukkan Deskripsi Organisasi">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Logo</span>
          <input ng-model="data.logo" type="text" placeholder="Masukkan Link Gambar">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Alamat Donasi</span>
          <input ng-model="data.address" type="text" placeholder="Masukkan Alamat Donasi">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Jenis
          </div>
          <select ng-model="data.type">
            <option value="" disabled selected>Pilih Jenis</option>
            <option>Pemerintahan</option>
            <option>Swasta</option>
            <option>Organisasi Sosial</option>
          </select>
        </label>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable bar-point bar bar-footer">
    <a ng-click="submit()" class="button button-full button-energized button-footer" target="_blank">
      Kirim
    </a>
  </ion-footer-bar>
</ion-view>
