<ion-view view-title="Playlist">
  <ion-content>
    <div class="share-group">
      <p>Ajak temanmu dan ceritakan keuntungan menggunakan applikasi ini dengan menggunakan refferal code berikut </p>
      <h2>XYWOJ34</h2>
      <br>
      <p>Untuk setiap teman yang diajak, kamu dan temanmu akan mendapatkan bonus poin! Ayok cepat tunggu apa lagi!</p>
      <br><br>
      <p>Dikenalan oleh temanmu? Masukkan referral code temanmu dibawah ini </p>
      <br><br><br>
      <label class="item item-input">
        <input type="text" placeholder="Referral Code">
      </label>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-energized bar-point bar bar-footer">
    <a ng-click="test.share()" class="button button-full button-energized button-footer" target="_blank">
      Share
    </a>
  </ion-footer-bar>
</ion-view>
