<ion-view>
  <ion-header-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="back()"></button>
    </div>
    <h1 class="title">Bantu Korban</h1>
  </ion-header-bar>
  <ion-content>
    <div class="form-add-container">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Donasi
          </div>
          <select ng-model="data.need_id">
            <option value="" disabled selected>Pilih Kebutuhan</option>
            <option ng-repeat="need in needs" value="{{need.id}}">{{need.name}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Jumlah</span>
          <input ng-model="data.quantity" type="text" placeholder="Masukkan Jumlah Barang">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Organisasi
          </div>
          <select ng-model="data.org_id">
            <option value="" disabled selected>Pilih Organisasi</option>
            <option ng-repeat="org in orgs" value="{{org.id}}">{{org.name}}</option>
          </select>
        </label>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable bar-point bar bar-footer">
    <a ng-click="submit()" class="button button-full button-energized button-footer" target="_blank">
      Kirim
    </a>
  </ion-footer-bar>
</ion-view>
