<ion-side-menus enable-menu-with-back-views="true" class="verse-sidemenu" side="right">
  <fader ng-click="openMenu()"></fader>

  <ion-side-menu side="left" width="{{width}}">
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="popover.show($event)" menu-toggle="left" menu-close>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--
    Create tabs with an icon and label, using the tabs-positive style.
    Each tab's child <ion-nav-view> directive will have its own
    navigation history that also transitions its views in and out.
    -->
    <ion-tabs class="tabs-color-active-positive tabs-icon-only">
      <!-- Account Tab -->
      <ion-tab title="Peta Kebutuhan" icon-off="ion-android-walk" icon-on="ion-android-walk" href="#/tab/victim-map">
        <ion-nav-view name="tab-victim-map"></ion-nav-view>
      </ion-tab>

      <ion-tab  title="Statistik Kebutuhan" icon-off="ion-android-archive" icon-on="ion-android-archive" href="#/tab/needs">
        <ion-nav-view name="tab-needs"></ion-nav-view>
      </ion-tab>

      <ion-tab  title="Peta Kabut Asap" icon-off="ion-cloud" icon-on="ion-cloud" href="#/tab/haze-map">
        <ion-nav-view name="tab-haze-map"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-side-menu>

  <ion-side-menu-content style="width:80%; box-shadow: 0px 0px 50px rgba(0,0,0,.5); z-index: 999999999999999">
    <ion-header-bar class="bar-light bar-menu">
      <div class="profile">
        <div class="profile-picture">
          <img ng-src="{{authHelper.getPicture(authData)}}" alt="">
        </div>
        <div class="profile-name">
          {{authHelper.getName(authData)}}
        </div>
        <div class="profile-location">
          Bandung, Indonesia
        </div>
      </div>
    </ion-header-bar>

    <ion-content class="has-footer has-menu">
      <ion-list class="large-menu">
        <ion-item href="#/lapor" ng-click="openMenu()">
          <i class="ion-android-walk icon" style="width: 60px"></i>
          <span>Laporkan Korban</span>
        </ion-item>
        <ion-item href="#/supply" ng-click="openMenu()">
          <i class="ion-cash icon" style="width: 60px"></i>
          <span>Tambahkan Donasi</span>
        </ion-item>
        <ion-item href="#/organization" ng-click="openMenu()">
          <i class="ion-briefcase icon" style="width: 60px"></i>
          <span>Tambahkan Organisasi</span>
        </ion-item>
        <ion-item href="#/tips" ng-click="openMenu()">
          <i class="ion-lightbulb icon" style="width: 60px"></i>
          <span>Tips & Trik</span>
        </ion-item>
        <ion-item href="#" ng-click="logout()">
          <i class="ion-ionic icon" style="width: 60px"></i>
          <span>Logout</span>
        </ion-item>
        <!-- <ion-item href="#" ng-click="openMenu()">
          <img src="img/icon-setting.png" alt="" class="icon">
          <span>Settings</span>
        </ion-item> -->
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-energized bar-point">
      <!-- <h1 class="title">Subscribe Now</h1> -->
      <a href="http://warungsatekamu.org/" class="button button-full button-energized button-footer" target="_blank">
        5000 poin
      </a>
    </ion-footer-bar>
  </ion-side-menu-content>
</ion-side-menus>



