<ion-view view-title="Browse">
  <ion-content>
<div class="wrapper">
  
<header class="module-location">
  <div class="location-title rating-positive">
    <h2>Garis Waktu</h2>
    <time>hari ini</time>
  </div>
</header>
<ul class="module-history">
  <li class="rating-negative memo-yep">
    <h3>Book a flight to Melbourne</h3>
    <time>5 minutes ago</time>
    <i>Has a memo attached</i>
  </li>
  <li class="rating-negative">
    <h3>Grab some last Pad Thai w/ Yi</h3>
    <time>35 minutes ago</time>
    <i></i>
  </li>
  <li class="rating-positive">
    <h3>Clear desk at Pun Space</h3>
    <time>1 hour ago</time>
    <i></i>
  </li>
  <li class="rating-positive">
    <h3>Pick up w&t visa from embassy</h3>
    <time>1 hour ago</time>
    <i></i>
  </li>
  <li class="rating-negative memo-yep">
    <h3>Clear desk at Pun Space</h3>
    <time>2 hours ago</time>
    <i>Has a memo attached</i>
  </li>
  <li class="rating-negative memo-yep">
    <h3>Call the landlady</h3>
    <time>2 hours ago</time>
    <i>Has a memo attached</i>
  </li>
  <li class="rating-positive">
    <h3>Fix #rispen bug on WP8</h3>
    <time>3 hours ago</time>
    <i></i>
  </li>
  <li class="rating-positive">
    <h3>Talk business w/ Emma</h3>
    <time>3 hours ago</time>
    <i></i>
  </li>
  <li class="rating-positive memo-yep">
    <h3>Write Markup for history view</h3>
    <time>4 hours ago</time>
    <i></i>
  </li>
  <li class="rating-positive">
    <h3>Look up support for position: sticky</h3>
    <time>4 hours ago</time>
    <i></i>
  </li>
  <li class="rating-positive memo-yep">
    <h3>Skype call w/ Thomas</h3>
    <time>6 hours ago</time>
    <i></i>
  </li>
  <li class="rating-negative">
    <h3>Still adding geo-location to #rispen</h3>
    <time>6 hours ago</time>
    <i>Has a memo attached</i>
  </li>
  <li class="rating-negative">
    <h3>Add geo-location support to #rispen</h3>
    <time>7 hours ago</time>
    <i>Has a memo attached</i>
  </li>
</ul>
</div>
</ion-content>
</ion-view>