<ion-view view-title="Peta Kebutuhan">
  <ion-content scroll="false">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" >
      <ui-gmap-marker 
          ng-repeat="victim in victims" 
          coords="victim.coords" 
          idkey="victim.id" 
          options="victim.options"
          icon="'img/help-' + victim.alertColor + '.png'">
            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
              <div>
                <p ng-show="victim.data.photo != ''"><img ng-src="{{victim.data.photo}}" width="150px" height="150px"/></p>
                <p><b>Nama:</b> {{victim.data.name}}</p>
                <p><b>Status:</b> {{victim.data.status}} <i class="ion-alert-circled alert-{{victim.alertColor}}"></i></p>
                <p><a href="#/lapor" class="button button-small button-positive">Detail</a></p>
              </div>
            </ui-gmap-window>
      </ui-gmap-marker>
		</ui-gmap-google-map>
  </ion-content>
</ion-view>
