<ion-view>
  <ion-header-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="back()"></button>
    </div>
    <h1 class="title">Korban</h1>
  </ion-header-bar>
  <ion-content>
    <div class="form-add-container">
      <div class="head-lapor">
        <img class="head-background " ng-src="{{data.photo}}">
        </img>
      </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Nama</span>
          <div>{{data.name}}</div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Umur</span>
          <div>{{data.age}}</div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">
            Status
          </div>
          <div>{{data.status}}</div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Lokasi</span>
          <div>{{data.latitude}}</div>
          <div>{{data.longitude}}</div>
        </label>
      </div>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="small-map">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
      <div class="list">
        <div class="item item-divider">
          Kebutuhan
        </div>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Kebutuhan</span>
          <div>
            {{data.need.name}}
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Jumlah</span>
          <div>
            {{data.quantity}}
          </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
